


.collection-item {
  display: flex;
  justify-content: space-between;
  background-color: blue;

}


.material-icons {
  cursor: pointer;
  margin-right: 5px;
}

.vote-box {
  display: flex;
  align-items: center;
}
